/* If we want to apply the background colour to the whole page (body tag) */
body{
    background-color: green;
}

/* Target all paragraph to be a specific font colour */
p, h2{
    color: whitesmoke;
}

/* target specifically, paragraph inside the footer */
footer p{
    color: turquoise;
    font-size: 20px;
}
.larger{
   font-size: 30px; 
}